@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 125%;
}

.container-overflow {
  animation: scroll-shadow-inset linear;
  animation-timeline: scroll( self y );
  overflow-y: auto;
}

@keyframes scroll-shadow-inset {
  from {
    box-shadow: inset 0 -80px 80px -40px rgb(0 0 0 / 0.4);
  }

  to {
    box-shadow: inset 0 80px 80px -40px rgb(0 0 0 / 0.4);
  }
}
